extends layout

block content
  h2= title
  div.author-line
    img.avatar(src=author.avatarURL)
    h3.author by&nbsp;
      a(href="/authors/#{author.display_name}") #{author.display_name}
      |  on #{publishDate}.
  | !{blogPostBody}
  h3.tags Tags
  div.tags
    for tag in tags
      a.tag(href="/tags/#{tag}") #{tag}
